.gs-chat__blocked-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    margin-top: auto;


    &__text {
        padding: 5px 0;
        width: 100%;
        background: none;
        border: 0;
        outline: none;
        cursor: pointer;
        color: rgba(42, 53, 63, 0.54);

        &:hover {
            color: rgba(42, 53, 63, 0.87);
        }
    }
}
